<footer class="footer-container">
  
  <div class="footer-content">
    <div class="footer-links">
      <a href="#">Precisa de ajuda?</a>
      <a href="#">Sobre Bebê Conforto</a>
      <a href="#">Formas de Pagamento</a>
      <a href="#">Trocas e Devoluções</a>
    </div>

    <div class="footer-logo">
      <img src="assets/logo.png" alt="Logo Bebê Conforto">
    </div>

    <div class="footer-social">
      <span>Fale Conosco</span>
      <div class="social-icons">
        <a href="#"><i class="mgc_facebook_line"></i></a>
        <a href="#"><i class="mgc_linkedin_line"></i></a>
        <a href="#"><i class="mgc_instagram_line"></i></a>
      </div>
    </div>
  </div>

  <div class="footer-copyright">
    <p>&copy; Todos os direitos reservados a Emily e Samyra</p>
  </div>

</footer>